#_ProcessListerConfigTab {
  display: none; }

#ProcessListerFiltersForm {
  display: none !important; }

#ProcessListerTable .ProcessListerTable {
  width: 100% !important;
  min-width: 0 !important;
  max-width: none !important; }

.pw-table-sortable th:hover, table.ProcessListerTable thead th:hover {
  text-decoration: none;
  cursor: default; }

#ListerSelectorConfig {
  float: right;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  margin-left: 6px;
  margin-top: 10px;
  z-index: 5; }
